{% extends 'mypf/base.html' %}


{% block content %}
<!--PORTFOLIO-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">

			  <div class="col-sm-20">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Mustafa Mahmoud Riyad</h5>
					  <h5>Data Analyst</h5>
					<p class="card-text">I have an experience interpreting and analyzing data in order to drive successful business solutions. Proficient knowledge in statistics, mathematics, and analytics. Excellent understanding of business operations and analytics tools for effective analyses of data.</p>
					  <h5>Skills</h5>
					  <ul>
                        <li>Advanced Microsoft Excel </li>
                        <li>HTML5 / css/ Java / python </li>
                        <li>Data Modelling </li>
                        <li>SQL</li>
                      </ul>
					  <h5>EDUCATION & CERTIFICATIONS</h5>
					  <ul>
						  <li>computer science certification , Faculty of computers and information science</li>
					  </ul>
					  <ul>
						  <h5>CONTACT</h5>
						  <li>Email: mustafa.riad228@gmail.com</li>
						  <li>Phone: 01200618367</li>
						  <li>Address: Egypt , qena city ,st 32A</li>
					  </ul>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</section>
{% endblock %}